body {
    background-color: #50fff1;
}

.page-title {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 55px;
text-align: center;
}

.descrp {
    text-align: center;
    text-transform: capitalize;
}

.drop {
    display: flex;
    justify-content: center;
}

.contact-info {
    padding-left: 15px;
    text-align: right;
}