body {
    background-color: #00eee0;
    background-image: url(../images/covid19.jpg);
    height: 1950px;
    width: auto;
}

.hero-body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
    text-align: center;
    background-color: #00eee0;
    background-image: url(../images/box.jpg);
    border: double;
    border-radius: 15%;
}

#data-insert {
    padding-left: 45px;
    border: groove;
    border-radius: 20%;
    background-color: whitesmoke;
    text-align: center;
}

label {
    text-align: center;
}

#map {
    width: 450px;
    height: 450px;
}

.hero-body {
    color: black;
    font-style: oblique;
    font-size: xx-large;
    text-align: center;
}

.travel {
    padding-left: 25px;
    font-size: xx-large;
}

.travel2 {
    padding-left: 35px;
    font-size: xx-large;
}

.control {
    display: flex;
    justify-content: center;
}

.contact-info {
    text-align: right;
    border-style: solid;
    padding-right: 4px;
    position: fixed;
    bottom: 3px;
    background-color: #00eee0;
}

.memberform {
    border: 1.5px solid #024e76;
    background-color: skyblue;
    padding: 20px;
    width: 200px;
    color: #024e76;
    bottom: 140px;
    left: 1300px;
    border-style: solid;
    padding-right: 4px;
    position: relative;
    bottom: 3px;
    border-top-left-radius: 400px;
}

.memberform p {
    margin: 5px 0 15px 0;
}

.memberform h3 {
    font-size: 35px;
    margin: 0;
    font-weight: bold;
}

.memberinput {
    border: 1px solid #024e76;
    display: block;
    padding: 4px 12px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.memberform label {
    margin: 0 5px;
}

.memberform button {
    color: #61cbeb;
    background-color: #024e76;
    border: none;
    padding: 4px 12px;
    font-size: 16px;
}

.comment-form {
    border: 1.5px solid #024e76;
    background-color: #61cbeb;
    padding: 20px;
    width: 200px;
    color: #024e76;
    bottom: 140px;
    left: 1300px;
    border-style: solid;
    padding-right: 4px;
    position: relative;
    bottom: 3px;
}

.comment-form h3 {
    font-size: 25px;
    margin: 0;
    font-weight: bold;
}